.nav {
  line-height: 1;

  &_list {
    display: flex;
    flex-wrap: wrap;

    > * {
      padding-top: map.get($size-scale, '400');
      padding-inline-start: map.get($size-scale, '400');
    }
  }
}