.page-header {
  padding: map.get($size-scale,'600') 0;

  &_heading {
    font-size: map.get($size-scale, '700');
  };

  &_summary {
    font-size: map.get($size-scale, '500');
    padding: map.get($size-scale, '300'), 0;
    font-weight: bold;

    &_item {
      padding-bottom: map.get($size-scale, '300');
    }
  };
}
