.skip-link {
  position: absolute;
  top: map.get($size-scale, '400');
  left: map.get($size-scale, '400');
  z-index: 99;

  // @extends should be used with care, but this is a great example of them being hella useful
  &:not(:focus) {
    @extend .visually-hidden;
  }
}
