@use 'sass:map';

// BASE
$base-size: 1rem;

// SIZE SCALE
$size-scale: (
  '300': $base-size * 0.75,
  '400': $base-size,
  '500': $base-size * 1.33,
  '600': $base-size * 1.77,
  '700': $base-size * 2.36,
  '800': $base-size * 3.15,
  '900': $base-size * 4.2,
  'major': $base-size * 5.6,
);

// COLORS
$colors: (
  "Electric Lime": #a2ff38,
  "Rich Black": #090909,
  "Baby Powder": #fdfffc,
  "Dim Gray": #636967,
  "Light Gray": #cbcdcc,
  "Green Crayola": #48ad7e,
);

$light-theme: (
  'text': map.get($colors, "Rich Black"),
  'bright-accent': map.get($colors ,"Electric Lime"),
  'dark-accent': map.get($colors ,"Green Crayola"),
  'muted-accent': map.get($colors ,"Dim Gray"),
  'primary-bg': map.get($colors ,"Baby Powder"),
  'secondary-bg': map.get($colors ,"Light Gray"),
);

// $dark-theme: ();