<section class="post_index wrapper">
  <ul class="post_list flow">
    {% for post in pagePosts %}
      <li class="post_preview">
       <a href="/blog{{ post.url }}"> {{ post.data.title }}</a> | {{ post.date | dateFilter }} <br> 
        {% if post.data.summary %}
          <blockquote> {{ post.data.summary }} </blockquote> 
        {% endif %}
        {% if post.data.tags %}
          <blockquote> 
            tags: {{ post.data.tags | tagsFilter }}
          </blockquote> 
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</section>